/.phpunit.cache
/node_modules
/storage/*.key
/vendor
/vendor/*
.env
.phpunit.result.cache
Homestead.json
/public/storage
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage
/.fleet
/.idea
/.vscode
resources/css/tenant.css
