.fi-topbar{
    font-weight: normal!important;
    }


.fi-header-heading{
     font-weight: normal!important;
     color:blue
}

.fi-btn-label{
    font-weight: normal!important;
}.fi-topbar{
    background-color: blue;;

}

/* 
.fi-ac-action{
    color: red;
}



.fi-ac-btn-action{
   color: red;
}
 */
