 
.fi-sidebar {
    background-color: #fafafa;
}


.fi-sidebar {
    @apply bg-gray-50 dark:bg-gray-950;
}


.fi-topbar .bg-white {
    background-color: gold;
  }
  .fi-sidebar {    background-color: #fafafa;}


  


