 
.btn-120{
  width: 120px!important;
}
.btn-150{
  width: 150px!important;
}
.btn{
 
  border-radius: 5px!important;
 
}

.btn:hover{
  box-shadow: 0px 0px 0px 0px white!important;;
  box-shadow: 0!important;
}
.form-control{
  
  border-radius: 0px!important;

}.btn-link{
  border-radius: 0px!important;
  background-color:white!important;
  color: white!important;
  border-bottom: 1px solid #6ABD45!important;;
}.btn-link a{
 
  color: white!important;
}
body {
  overflow-y: scroll;
}

.required:after {
  content:" *";color:red;
}

 


#go_to_top_button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  width: 50px;

  cursor: pointer; /* Add a mouse pointer on hover */


}



.big-button {
 border: 1px dashed #EFEFEF ;
 color:  #343279 ;
 
 height:38px;
 font-size: 12px;;
 font-weight: normal;
 padding: 5px;
 
 
 cursor: pointer;
 
 text-align: center;
 
}

.card {
 
  box-shadow: none!important;
  border-radius:10px!important;
  border: 1px solid #edeef0!important;
} .card-body {
 
  box-shadow: none!important;
 

} 

.page-header{
  border-radius: 0px!important;
  padding-top: 00px!important; 
  margin-top: 0px!important;
  height: 0px;
  margin-top: 0px!important; 
 
  border: 0px!important;;
  border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7)!important;;

}
.card-hover:hover {
  background-color: rgb(251, 251, 251) ;
  cursor: pointer;
 }
 
.big-button:hover {
  background-color: rgb(222, 232, 243) ;
  cursor: pointer;
 }
 
 .card-header {
  background-color:#F8F9FA!important;
  padding:12px!important;
}


.filter_bar{
 
  background-color:#F8F9FA!important;
 
 height: 65px;
 
 
 padding: 10px; 
 margin-bottom: 10px; 
 border-radius:10px!important;
 
 
} 



 .card-button {
  border: 1px dashed #EFEFEF ;
  color:  #b6b4b4 ;
  
  height:100px;
  font-weight: normal;
  padding: 10px;
  
  
  cursor: pointer;

 
  
 }
 .card-button:hover {
  border: 1px dashed #6ABD45!important;



  background-color: #439ce000!important;
   cursor: pointer;
  }

  
.card_index{

  border: 1px dotted #EFEFEF!important;


}

/* .form-control {

  border-radius: 5px!important;;
  box-shadow: 0px 0px 0px 0px white!important;;
  box-shadow: 0!important;
  padding: 10px!important;;
 

} */
/* .btn-primary:hover {
  background-color:  #45488B!important;
  padding: 12px!important;
  border-radius: 0px!important;;
  border:0px!important;
  box-shadow: 0px 0px 0px 0px white!important;;
} */
.pageico{
  max-width: 60px;
  padding-right: 10px;
  margin-right: 10px;
  float: left;
  border-right: 1px solid #EFEFEF;
} 

 .sticky-top { background-color: white;
  top: 62px!important;

  margin-top:10px !important;

}

 

.navbar-nav{

  margin: 10px; 
}

 
.page-header-title{
  padding-top: 14px;
  font-weight: normal;  color: gray!important;
  font-weight: lighter!important;
}  
h1{
  font-weight:normal!important;;
  font-size: 16px!important;;
}

.badge{
  font-weight:normal!important;


}
 a:link{
  font-weight: normal!important;
 
}  

/* .table a {   
  color: #6ABD45!important;;
} */

.btn-link{
  font-weight: normal!important;
  color: rgb(81,85,170)!important;
}
 @media only screen and (min-width: 768px){ 
  .page-header{
    height:60px!important;
    border-bottom: 0px solid #EFEFEF!important;
    padding-bottom: 0px!important;
    padding-top: 8px!important;
    margin-bottom: 10px!important;
    border-bottom: 0.0625rem solid rgba(231, 234, 243, 0.7)!important;;
  
     
  }
} 


 
 


.loading {

	text-align: center;
	margin: auto;
	width: 100%;
	padding: 30px;
	margin: auto;
	display: block;
}


  .loading_indicator {
    border: 16px solid #6ABD45; /* Light grey */
    border-top: 16px solid #6ABD45; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    animation: spin 2s linear infinite;
  }
  .loading_indicator_small {
    border: 5px solid #6ABD45; /* Light grey */
    border-top: 5px solid #6ABD45; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    animation: spin 2s linear infinite;
   }
     .cnt_table_result{
    border-left: 1px solid #EFEFEF;
    min-width:34px!important;

    float: left;
    text-align: center;
  } */
  .cnt_table_result_l{
   border: 0px;
   padding-left: 0px;

    min-width:34px!important;

    float: left;

  }
 
    




  /**
 * European Energy Label in CSS
 */

.energy-class {
  position: relative;
  width: 155px;
  font-family : sans-serif;
}
.energy-class span {
  display: block;
  position: absolute;
  left: 110%;
  background: #000;
  width: 30px;
  height: 30px;
}
.energy-class span.a {
  top: 0px;
}
.energy-class span.b {
  top: 20px;
}
.energy-class span.c {
  top: 40px;
}
.energy-class span.d {
  top: 60px;
}
.energy-class span.e {
  top: 80px;
}
.energy-class span.f {
  top: 100px;
}
.energy-class span.g {
  top: 120px;
}
.energy-class span:before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #000;
  border-bottom: 15px solid transparent;
}
.energy-class span:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.energy-class span.a:after {
  content: ' a ';
}
.energy-class span.b:after {
  content: ' b ';
}
.energy-class span.c:after {
  content: ' c ';
}
.energy-class span.d:after {
  content: ' d ';
}
.energy-class span.e:after {
  content: ' e ';
}
.energy-class span.f:after {
  content: ' f ';
}
.energy-class span.g:after {
  content: ' g ';
}
.energy-class div {
  position: relative;
  height: 20px;
  margin: 2px 0;
}
.energy-class div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  background: transparent;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.energy-class div:after {
  position: absolute;
  top: 0;
  right: 0.25em;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
}
.energy-class div.a {
  background: #3b7634;
  width: 50px;
}
.energy-class div.a:before {
  border-left: 8px solid #3b7634;
}
.energy-class div.a:after {
  content: ' a ';
}
.energy-class div.b {
  background: #5da436;
  width: 65px;
}
.energy-class div.b:before {
  border-left: 8px solid #5da436;
}
.energy-class div.b:after {
  content: ' b ';
}
.energy-class div.c {
  background: #a3cf2a;
  width: 80px;
}
.energy-class div.c:before {
  border-left: 8px solid #a3cf2a;
}
.energy-class div.c:after {
  content: ' c ';
}
.energy-class div.d {
  background: #f6df1b;
  width: 95px;
}
.energy-class div.d:before {
  border-left: 8px solid #f6df1b;
}
.energy-class div.d:after {
  content: ' d ';
}
.energy-class div.e {
  background: #f29020;
  width: 110px;
}
.energy-class div.e:before {
  border-left: 8px solid #f29020;
}
.energy-class div.e:after {
  content: ' e ';
}
.energy-class div.f {
  background: #eb422c;
  width: 125px;
}
.energy-class div.f:before {
  border-left: 8px solid #eb422c;
}
.energy-class div.f:after {
  content: ' f ';
}
.energy-class div.g {
  background: #ea2039;
  width: 140px;
}
.energy-class div.g:before {
  border-left: 8px solid #ea2039;
}
.energy-class div.g:after {
  content: ' g ';
}


.empty-state-container {
	background-color:white;
	background: linear-gradient(transparent 98%, #eaeaea 0);
	background-repeat: repeat-y;
	background-size: 100% 50px;
	margin: 0px 0 0px;
	min-width: 200px;
	position: relative;
	width: 100%
}

.empty-state-content {
	margin: 0 auto;
	max-width: 255px;
	padding: 2px 22px 22px;
	text-align: center
}

.global_container .empty-state-content {
	max-width: 440px;
	padding-top: 30px
}

.empty-state-content-background {
	background-color: #fff;
	position: relative;
	z-index: 7
}

.empty-state-content-background.new {
	background-color: #fff;
}

.global_container .empty-state-content-background {
	padding: 0 80px
}

.empty-state-text.new {
	line-height: inherit
}

.empty-state-text {
	color: #bebebe;
	font-size: 14px;
	line-height: 18px;
	padding-bottom: 40px
}

.empty-state-text>a {
	color: #4499dc
}

.empty-state-text>a:hover {
	color: #367ab0
}




.atbd-notice__content .notice-listBlock {
  padding: 24px;
}