 
.fi-sidebar {
    background-color: #fafafa;
}


.fi-sidebar {
    @apply bg-gray-50 dark:bg-gray-950;
}



.fi-header-heading {
    color: red!important;
 
}


.fi-topbar .bg-white {
 
  }
  .fi-sidebar {    background-color: #fafafa;}


  


